*
{
    margin:0;
    padding:0;

}

h2 a:hover{
    
    margin-left: 10px;
    color: red;

}

h2{
    text-align: center;
}



table{
    border: 2px solid rgb(24, 12, 12);
    border-collapse: collapse;
    padding:10px 20px;
    width: 500px;
    margin-left: 400px;
    height: 200px;
}

table,th,tr,td{
    border: 2px solid rgb(246, 252, 246);
    border-collapse: collapse;
    color: white;
    font-size: 15px;
}




.n1{background-color: rgb(32, 135, 133);}

.n2{background-color: rgb(230, 57, 57);}

.n3{background-color: rgb(105, 252, 249);}

.n4{background-color: rgb(62, 27, 189);}

.n5{background-color: rgb(10, 97, 43);}

.n6{background-color: rgb(33, 17, 37);}

.n7{background-color: rgb(252, 174, 73);}

.n8{background-color: rgb(62, 27, 189);}

.n9{background-color: hsl(303, 66%, 64%);}






#grad1 {
    height: 100vh;
    background-image: linear-gradient(to right, rgba(250, 217, 217, 0), rgb(240, 168, 222));
    background-attachment: fixed;
    background-size: cover;
}
  
